.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-dialog-actions button {
  margin: 0 8px;
}
